<div class="input-group mb-3">

  <form [formGroup]="form" class="input-group mb-3">
    <input type="text" formControlName="name" class="form-control"
      [ngClass]="{'is-invalid':  ((form.controls['name'].value !==null &&form.controls['name'].value !=='') && !form.valid)   }"
      id="name" (keyup.enter)="addTask()" placeholder="Nome da Tarefa" />
    <input type="datetime-local" class="form-control" formControlName="deadline" id="deadline" (keyup.enter)="addTask()"
      min="{{ today | date:'yyyy-MM-ddT00:00:00' }}" />

    <button class="btn btn-outline-info text-primary" type="button" id="button-addon2" name="add"
      (click)="addTask()">Adicionar</button>
    <div id="validationServerUsernameFeedback" class="invalid-feedback"
      [ngClass]="{'hiden': ((form.controls['name'].value !==null &&form.controls['name'].value !=='') && !form.valid)   }">
      O valor deve conter entre 3 e 60 letras
    </div>
  </form>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <label for="select">Filtrar por:</label>
      <select class="form-select" id="select" [(ngModel)]="filterValue">
        <option selected value="ToDo">A Fazer</option>
        <option value="InProgress">Em Andamento</option>
        <option value="Done">Terminada</option>
        <option value="All">Todos</option>
      </select>
    </div>
  </div>
</div>

<div id="list">



  <table class="table table-hover ">
    <thead>
      <th scope="col">Compromisso</th>
      <th scope="col">Data limite</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of filterList()">
        <td class="col-sm-5">{{ task.name }} <i class="bi bi-pencil-square"></i></td>
        <td class="col-sm-2">{{ task.deadline | date:'dd/MM/yyyy hh:mm' }} <i class="bi bi-pencil-square"></i></td>
        <td class="col-sm-1">
          <a class="pointer hiden">💾</a>
          <a class="pointer hiden">📝</a>
          <a class="pointer" (click)="deleteTodo(task)">🗑</a>
        </td>
        <td class="col-sm-5" style="text-align: end;">
          <div class="btn-group">
            <button class="btn btn-primary" [ngClass]="{'active': task.status === 'ToDo' }"
              (click)="updateTodo(task, 'ToDo')">A fazer</button>
            <button class="btn btn-primary" [ngClass]="{'btn-warning active': task.status === 'InProgress' }"
              (click)="updateTodo(task, 'InProgress')">Em Andamento</button>
            <button class="btn btn-primary" [ngClass]="{'btn-success active': task.status === 'Done' }"
              (click)="updateTodo(task, 'Done')">Terminada</button>
          </div>

        </td>

      </tr>
    </tbody>
  </table>

</div>